.*.swp
.*.swo
*.pyc
zookeeper/server*/logs/
zookeeper/server*/data/
pane.log

# ignore for now, could be submodules later
brownsys-nettle/
mininet/
of-dissector/
openflow/
openvswitch/
pane/
zookeeper/pane-zookeeper/
zookeeper/zookeeper-benchmark/

# ignore; we copy these files from /etc/skel
.bash_logout
.bashrc
.profile

# files created during regular operation
.ICEauthority
.Xauthority
.ant/
.bash_history
.cabal/
.cache/
.config/google-chrome/
.config/user-dirs.*
.dbus/
.ghc/
.gitconfig
.gtk-bookmarks
.lesshst
.local/
.m2/
.matplotlib/
.pam_environment
.pki/
.rnd
.ssh/
.viminfo
.wireshark/
.xsession-errors*
