
[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "bash -c \\"cat README.md; exec bash\\""
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Welcome
Name=Welcome
Comment[en_US]=
Comment=
